$dark-bg: green;
$dark-text: #f9f9f9;
$light-text: white;
$dark-border: #e2e8f057;
$dark-primary: #f9f9f9;
$dark-secondary: #f9f9f9;
$accent: #42d392;
$dark-accent: #0b935f;
$dark-accent-hover: tomato;
$spacing-medium: 1.5rem;
$spacing-small: 1rem;
